/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* Global setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-light-white-hover: #e0dede48;
  --color-dark-white: #d8d8d8;
  --color-light-pink: #fcadaa;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #424242;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #84b1cf;
  --color-darkblue: #539ecf;
  --color-navy: #090a55;
  --color-navy-hover: #090a55a8;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-black-hover: rgba(3, 0, 0, 0.623);

  /* Font size */
  --font-large: 48px;
  --font-semi-large: 32px;
  --font-medium: 28px;
  --font-regular: 23px;
  --font-semi-regular: 20px;
  --font-small: 18px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 0.3s;
  /* animation duration은 : 0.25~0.30이 적절한 수치 */
}

/* Universal tags */
* {
  box-sizing: border-box;
  /* 패딩을 줬을 때, 높이와 넓이가 그 패딩을 포함 했을 때도 
  동일한 높이와 넓이가 되도록. */
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-navy);
}
/* 이름 내 URL 링크 하이라이트 제거 */

ul {
  list-style: none;
  /* list 스타일 제거 */
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  /* position fixed를 설정하면 콘텐츠의 크기에 따라 넓이가 적용되기에 재지정 필요 */
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black-hover);
  color: var(--color-white);
  align-items: center;
  padding: 0px 16px;
  z-index: 2;
}

/* JS add */
#navbar.navbar__dark{
  transform : translateY(-53px);
  background-color: transparent;
  transition: all ease var(--animation-duration);
  }

  #navbar.navbar__dark:hover{
    transform : translateY(0px);
    background-color: var(--color-black-hover);
  }

.navbar__menu {
  display: flex;
}

.navbar__logo {

  color: var(--color-white);
  font-size: var(--font-semi-large);
  font-weight: var(--weight-bold);
}

/* @media (max-width: 850px) {
  .navbar__logo {
    width: 75px;
    height: 45px;
  }
} */

.navbar__menu__item {
  padding: 5px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}
/* @media (max-width: 850px) {
  .navbar__menu__item {
    padding: 5px 7px;
    font-size: var(--font-micro);
  }
} */

.navbar__menu__item.active {
  border-bottom: 1.4px solid var(--color-orange);
  border-radius: 5px 5px 0px 0px;
}

.navbar__menu__item:hover {
  background-color: var(--color-light-white-hover);
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1.4px solid var(--color-orange);
}

/* for mobile, toggle button */
.navbar__toggle-btn {
  position : fixed;
  top: 10px;
  right: 32px;
  font-size: 32px;
  display: none;
  z-index: 3;
}

.navbar__toggle-btn i{

  color: var(--color-white);

}

/* Section common */
.section {
  padding: 35px;
  text-align: center;
  margin: auto;
  /* margin: auto를 통해 좌우여백 균등하게 배분 */
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* home */
#home {
  background: url("../image/home-background.png") center/cover no-repeat;
  padding: 35px;
  padding-top : 100px;
  text-align: center;
}

.home__photo {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__title {
  text-shadow: 2px 4px 6px var(--color-dark-grey);
}

.home__description {
  text-shadow: 2px 2px 2px var(--color-grey);
}

.home__contact {
  margin-top: 10px;
  padding: 8px 10px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: white;
  border: 2px solid var(--color-light-white);
  border-radius: 5px;
}
.home__contact:hover {
  background-color: var(--color-pink);
  text-shadow: 0px 2px 1px var(--color-grey);
  transition: all ease var(--animation-duration);
}

/* About me */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 20px;
}

.major__icon {
  height: 170px;
  width: 170px;
  font-size: 80px;
  color: var(--color-darkblue);
  margin: auto;
  line-height: 170px;
  /* line-height를 설정하면 자동으로 중간에 오게된다. */
  border-radius: 50%;
  border: 4px solid var(--color-darkblue);
  /* background-color: yellow; */
  /* 색을 넣는 것은 임시 확인용. */
  margin-bottom: 20px;
  cursor: pointer;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(+12deg) scale(1.05);
  transition: all ease var(--animation-duration);
}

.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
}

.job {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.job__logo {
  width: 130px;
  height: 50px;
  margin-top: 10px;
}

.job__description {
  margin: 15px 20px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-dark-grey);
}

.job__name {
  font-weight: var(--weight-bold);
  font-size: var(--font-semi-regular);
  margin-bottom: 8px;
}

.job__period {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

/* skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  background-color: var(--color-light-grey);
  display: flex;
  color: var(--color-light-white);
  margin: 30px 0px;
}

.skillset__title {
  color: var(--color-white);
}

.skill {
  margin-bottom: 35px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skillset__left {
  flex-basis: 60%;
  /* content자체가 작기 때문에 flex-basis로 설정 */
  background-color: var(--color-dark-grey);
  padding: 20px 30px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
  /* 각 스킬별 per가 다르게 채워져야하므로 각 class내 style 추가로 적용 */
}

.skillset__right {
  flex-basis: 40%;
}

.tools,
.etc {
  padding: 20px;
}

.tools {
  background-color: var(--color-grey);
}

.skillset__left span,
.skillset__right span {
  font-size: var(--font-semi-regular);
  font-weight: var(--font-semi-bold);
}

/* works */
.work__categories {
  max-width: 850px;
  margin: 30px auto;
}

.work__subtitle {
  font-weight: var(--weight-semi-bold);
}

.category__btn {
  border: 2px solid var(--color-dark-white);
  position: relative;
  width: 130px;
  height: 40px;
}

.category__name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  display: flex;
  justify-content: center;
  text-align: center;
}

/* @media (max-width: 850px) {
  .work__categories {
    max-width: 300px;
  }
  .category__name {
    font-size: var(--font-micro);
    font-weight: var(--font-bold);
  }
} */

.category__count {
  background-color: var(--color-dark-pink);
  border-radius: 50%;
  color: var(--color-white);
  position: absolute;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  top: -10px;
  left: -6px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  transition: all ease var(--animation-duration);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  transition: all ease var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.project {
  background-color: var(--color-black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 270px;
  margin: 2px;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black-hover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  color: var(--color-white);
  transform: translateY(10px);
}

.project__link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px 60px;
  font-size: var(--font-micro);
}

.project__link__contents {
  color: var(--color-light-white);
  border-bottom: 1.5px solid var(--color-grey);
  width: 85px;
  height: 30px;
  line-height: 26px;
}

.project__link__contents:hover {
  border-bottom: 1.5px solid var(--color-orange);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 50%;
  height: 1px;
  background-color: var(--color-white);
}

.project__description:hover {
  opacity: 1;
  transition: all ease 0.5s;
  transform: translateY(0px);
}

/* testimonial */
#testimonials {
  background-color: var(--color-dark-white);
  height: 500px;
}

.testimonials__sub {
  margin-top: 30px;
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-bold);
}

.testimonial {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

.testimonial__avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.testimonial__speech-bubble {
  padding: 20px 17px;
  margin-left: 40px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  font-size: var(--font-small);
  color: var(--color-light-grey);
  font-weight: var(--weight-regular);
  text-align: left;
  margin-left: 10px;
}

.testimonial__speech-bubble .name {
  text-align: right;
  margin-top: 15px;
  margin-right: 20px;
  font-weight: var(--weight-semi-bold);
}

/* Contact */
#contact {
  background: url(../image/home-background.png) center/cover no-repeat;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  text-shadow: 2px 4px 6px var(--color-dark-grey);
  color: var(--color-white);
}

.contact__email {
  color: var(--color-white);
  text-shadow: 2px 2px 1px var(--color-dark-grey);
}

.contact__links i {
  padding: 10px;
  font-size: var(--font-large);
  color: var(--color-white);
  text-shadow: 2px 2px 1px var(--color-dark-grey);
}

.contact__links i:hover {
  color: var(--color-pink);
  transition: all ease var(--animation-duration);
}

.contact__comment {
  padding: 20px;
  font-style: italic;
  font-size: var(--font-regular);
  color: var(--color-white);
  text-shadow: 2px 2px 2px var(--color-dark-grey);
}

/* 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    line-height:40px;
    color: var(--color-navy);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    height : 60px;
    line-height: 60px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu__item.active {
    border-bottom: none;
    background-color: var(--color-light-white-hover);
    border-radius: 5px 5px 0px 0px;
  }

  .about__majors {
    flex-direction: column;
  }
  .major {
    margin: 25px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .project__link {
    font-size: var(--font-small);
  }
  .project__link__contents {
    width: 110px;
  }